<ion-menu [content]="content">
  <ion-toolbar secondary>
    <ion-title>Vertretungsplan</ion-title>
  </ion-toolbar>
  <ion-toolbar secondary *ngIf="currentUser">
    <div padding-left>
        <ion-icon name="contact"></ion-icon>
        <span padding-left>
          <strong>{{ currentUser }}</strong>
        </span>
    </div>
  </ion-toolbar>
  <ion-content>
    <ion-list>
      <button ion-item (click)="showRepresentations()">
        <ion-icon name="calendar"></ion-icon>
        <span padding-left>{{ currentClass !== '*' ? 'Klasse ' + currentClass : 'Klassen' }}</span>
      </button>
      <button ion-item (click)="showImpressum()">
        <ion-icon name="contacts"></ion-icon>
        <span padding-left>Kontakt</span>
      </button>
      <button ion-item (click)="logout()">
        <ion-icon name="power"></ion-icon>
        <span padding-left>Abmelden</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-navbar *navbar secondary>
  <button (click)="toggleMenu()" royal dark menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    {{ currentClass == '*' ? 'Klassen' : 'Klasse ' + currentClass }}
  </ion-title>
</ion-navbar>

<ion-toolbar [attr.primary]="isAndroid ? '' : null" >
    <ion-segment [(ngModel)]="selectedSegment" (change)="onSegmentDayChanged($event)">
      <ion-segment-button value="today">
        {{ todayDate | date: 'dd/MM/y'}}
      </ion-segment-button>
      <ion-segment-button value="tomorrow">
        {{ tomorrowDate | date: 'dd/MM/y'}}
      </ion-segment-button>
    </ion-segment>
</ion-toolbar>

<ion-content #content scrollable [hidden]="(isLoadingToday && isLoadingTomorrow)">
  <ion-refresher (refresh)="refreshTodayRepresentations(session, backend, $event, refresher)">
  </ion-refresher>

    <ion-slides (change)="onSlideDayChanged($event)" id="loopSlider" menuLeft>
      <ion-slide *ngFor="#set of slides" scrollable>
        <ion-list>
          <div>
            <div *ngFor="#item of set.data | async | asyncDefault: [{notFound: true}]">

              <div *ngIf="item.notFound">
                <ion-item>
                  Es sind keine Vertretungen vorhanden.
                </ion-item>
              </div>

              <div *ngIf="!item.notFound">
                <button ion-item (click)="showMore(item)">
                  <ion-icon item-right>
                    <img [src]="item.type | toIcon">
                  </ion-icon>
                  <h2>{{ item.type | toTitle }}</h2>
                  <p>{{ item.hour }}. Stunde</p>
                </button>
              </div>
            </div>
          </div>
        </ion-list>
      </ion-slide>
    </ion-slides>


</ion-content>