<ion-menu [content]="content">
  <ion-toolbar primary>
    <ion-title>Vertretungsplan</ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-list>
      <button ion-item (click)="logout()">
        Abmelden
      </button>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-navbar *navbar>
  <ion-buttons start>
    <button class="vp-menu-button" (click)="toggleMenu()" royal dark>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>
    Vertretungen
  </ion-title>
</ion-navbar>

<ion-content #content>

  <div padding>

    <ion-segment [(ngModel)]="viewDay">
      <ion-segment-button value="today" >
        {{ todayDate | date: 'dd/MM/y'}}
      </ion-segment-button>
      <ion-segment-button value="tomorrow">
        {{ tomorrowDate | date: 'dd/MM/y'}}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="viewDay">

    <div *ngFor="#set of [{ data: todayPromise, key: 'today'}, { data: tomorrowPromise, key: 'tomorrow'}]">
      <ion-list *ngSwitchWhen="set.key">
        <div *ngFor="#item of set.data | async | asyncDefault: [{notFound: true}]">

          <div *ngIf="item.notFound">
            <ion-item>
              Es sind keine Vertretungen vorhanden.
            </ion-item>
          </div>

          <div *ngIf="!item.notFound">
            <button ion-item (click)="showMore(item)">

              <ion-icon item-left>
                <img [src]="item.type | toIcon">
              </ion-icon>
              {{ item.type | toTitle }}
            </button>
          </div>
        </div>

      </ion-list>
    </div>
  </div>

</ion-content>
