# NPM
node_modules/

# IONIC
www/build/

# Custom Typings
typings/browser/
typings/browser.d.ts
typings/main/
typings/main.d.ts

# CORDOVA
/platforms/
/plugins/

# IDEAS
/.idea/

# CUSTOM
*.swp
.DS_Store
Thumbs.db
